<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petharu.web.dao.PetDao">
	<select id="getList" resultType="com.petharu.web.entity.Pet">
	SELECT P.*,B.NAME ,FLOOR((CAST(REPLACE(CURRENT_DATE,'-','') AS UNSIGNED) - CAST('19931232' AS UNSIGNED)) / 10000) + 2 as age
	FROM Pet P LEFT JOIN Breed B ON B.ID = P.breedId WHERE P.memberId = #{memberId} ORDER BY P.ID
	</select>

	<insert id="insert"
		parameterType="com.petharu.web.entity.Pet" useGeneratedKeys="true"
		keyProperty="id">
		insert into
		Pet(name,gender,age,personality,image,memberId,breedId)
		values(#{name},#{gender},#{age},#{personality},#{image},#{memberId},#{breedId})
	</insert>

	<delete id="delete" parameterType="int">
		delete from Pet where
		id=#{id}
	</delete>

	<update id="update"
		parameterType="com.petharu.web.entity.Pet">
		update Pet
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="gender != null">gender = #{gender},</if>
			<if test="age != null">age = #{age},</if>
			<if test="personality != null">personality = #{personality},</if>
			<if test="image != null">image = #{image},</if>
			<if test="breedId != null">breedId = #{breedId}</if>
		</set>
		where id=#{id}
	</update>
</mapper>