@charset "UTF-8";
#main {
    grid-area: main;
}

    #main>section{
        display: flex;
        margin: 25px 122px 0px 92px;
    }

    .member-info {
        display: flex;   
    }

        .img-member {
            display: inline-block;
            background-color: rgb(224, 223, 223);
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .id, .friend-info {
            margin-left: 20px;
            line-height: 60px;
        }
    
        .id {
            font-size: 18px;
            font-weight: bold;
        }

        .follower, .follow {
            font-weight: bold;
        }

        .follower-num {
            margin: 0 10px 0 5px;
        }

        .follow-num {
            margin-left: 5px;
        }
    
        .follower, .follow {
            cursor: pointer;
        }

    .diary-upload-btn {
        margin-left: auto;
        line-height: 60px;
    }

    .diary-upload-btn button {
        width: 110px;
        height: 40px;
        border-radius: 5px;
        font-weight: bold;
        margin-right: 0px;
        cursor: pointer;
        color: rgb(168, 166, 166);
    }

    .diary-upload-btn button:hover {
        background-color: rgb(250, 195, 43);
        color: white;
    }

    .diary-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 90px;
    }

        .diary-list>div {
            border-radius: 5px;
            width: 290px;
            margin: 0 30px 30px 0;
            transition: box-shadow 0.1s ease-in 0s, transform 0.1s ease-in 0s;
            box-shadow: 0 0 6px rgb(206 206 206 / 40%);
        }

        .diary-list>div:hover {
            transform: translateY(-4px);
            box-shadow: rgb(0 0 0 / 8%) 0px 13px 20px 0px;   
        }

        .img-pet {
            display: block;
            width: 100%;
            height: 265px;
            cursor: pointer;
            border-radius: 5px 5px 0 0;
        } 
        
        .diary-list .text-area {
            background-color: #fff;
            padding: 20px 20px 7px;
        }  

        .text-area {
            border-radius: 0 0 5px 5px;
        }
        	
        	.diary-info>ul {
        		display: flex;
   				justify-content: flex-end;
   				margin-bottom: 10px;
        	}
        	
        	.diary-info li {
   				display: flex;
   				align-items: center;
        	}
        	
        	.diary-info img {
        		width: 15px;
        		height: 15px;
        		margin-right: 5px;
        	}
        	
        	.diary-info span {
        		font-size: 13px;
        		margin-right: 8px;
        	}
        	
        	.diary-info li:nth-child(3)>span:nth-child(2) {
        		margin-right: 0px;
        	}

            .diary-content {
            	display: inline-block;
                margin-bottom: 20px;
                font-weight: bold;
                cursor: pointer;
            }

            .keyword {
                font-size: 13px;
                margin-bottom: 15px;
            }
            
            .keyword>span {
                background-color: rgb(233, 233, 233);
                padding: 5px 10px;
                border-radius: 15px;
            }
        
	.pager {
        display: flex;
        justify-content: center;
        margin: 20px;
        height: 24px;
        line-height: 24px;
    }
    
    	.pager>a {
    		display: flex;
        	align-items: center;
    	}

        .pager>ul {
            display: flex;
            margin: 0 30px;
        }

        .pager li {
            margin-right: 30px;
        }

        .pager li:nth-child(5) {
            margin-right: 0;
        }

        .prev, .next {
            width: 15px;
            height: 15px;
        }        
        
        
.detail-section {
	display: flex;
    width: 800px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

.detail-section>:nth-child(2) {
	width: 440px;
	height: 430px;
	box-sizing: border-box;
	background-color: #fff;
    padding: 20px 0 20px 30px;
    border-radius: 0 8px 8px 0;
}

.detail-section .member-info {
    display: flex; 
    margin-bottom: 15px;
    font-size: 13px;
}

    .detail-section .img-member {
        display: inline-block;
        background-color: rgb(224, 223, 223);
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    
    .detail-section .id {
        margin-left: 20px;
        line-height: 45px;
        font-size: 18px;
        font-weight: bold;
    }

.detail-section .upload-date {
    margin: 15px 0 0 3px;
    font-size: 13px;
    font-weight: bold;
    color: #8a8a8a;
}    

.detail-section .button-menu {
    text-align: right;
    margin-bottom: 10px;
}

.detail-section .btn {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(168, 166, 166);        
    cursor: pointer;
}

.detail-section .button-menu>.delete-btn {    
    margin-right: 30px;
}

.detail-section .btn>a {
    color: rgb(168, 166, 166);        
}

.detail-section .img-pet {
    display: block;
    width: 360px;
    height: 430px;
    border-radius: 8px 0 0 8px;
} 

    .detail-section .diary-content {
        margin: 20px 0 0 3px;
        font-weight: normal;
    }

    .detail-section .keyword {
        margin-top: 20px;
        font-size: 13px;
    }

    .detail-section .keyword>span {
        background-color: rgb(233, 233, 233);
        padding: 6px 8px;
        border-radius: 15px;
    }

	.detail-section hr {
        border: 0;
        border-top: 0.7px solid rgb(185, 184, 184);
        margin-left: 0px;
        width: 380px;
    }
    
.black-bg {
    /* display: none; */
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 999; 
}

    .modal {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 550px;
        height: 250px;
        transform: translate(-50%,-50%);
        background-color: #fff;
        z-index: 1000;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .modal-content {
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 18px;
        }

        .modal-button-menu {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
        }

            .modal-btn {
                width: 200px;
                height: 40px;
                border-radius: 5px;
                font-size: 15px;
                font-weight: bold;
                color: rgb(168, 166, 166);        
                margin-right: 10px;
                cursor: pointer;
            }

            .modal-button-menu>.modal-btn:nth-child(2) {
                background-color: rgb(207, 204, 204);
                color: white;
            }

            .modal-button-menu>.modal-btn:nth-child(3) {
                margin-right: 0;
                background-color: rgb(250, 195, 43);
                color: white;
            }

        .modal-close>.close-btn, .modal-close>.close-btn2 {
            position: absolute;
            top: 0px;
            right: -40px;
            width: 28px;
            height: 28px;
            cursor: pointer;
        }

@media screen and (max-width: 500px) {
    #root{
        grid-template-columns: 1fr;
        grid-template-rows: 55px 1fr 70px;
        grid-template-areas: 
        "header"
        "body"
        "footer";
    }

    #body .float-content {
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "main";
    }

    #root>#header {
        width: 100%;
        height: 55px;
    }
    
    .aside-menu {
        margin: 0;
    }
} 

/*---------------------------------------*/
/*---------------------------------------*/
:root {
    --text-color-basic: #464646 !important;
    --text-color-light: #E2E2E2 !important;
    --text-color-strong: #FD9F28 !important;
    --bg-color-light: #FFFEFD !important;
    --hover-color-bg: #EFF0F1;
    --border-color-light: #E4E6E8;
}

a {
    cursor: pointer;
}

.button-2, .button-5 {
    font-size: 12px !important;
    cursor: pointer;
    border: 1px solid var(--text-color-basic);
    border-radius: 3px;
    background-color: white;
    padding: 0;
    height: 20px;
    font-weight: 400;
}
.button-2 {
    width: 35px;
}
.button-5 {
    width: 65px;
}
button:hover {
    font-weight: bold;
}

/*---------------------------------------*/

#diary-comment-sctn {
    overflow: auto;
    height: 150px;
    width: 380px;
}

.diary-comment {
    padding: 15px 0 15px 0;
    border-top: 1px solid var(--border-color-light);
}

.comment-info, 
.comment-content {
    padding-bottom: 10px;
}
.comment-info {
    display: flex;
    align-items: center;
}
.comment-info img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.comment-id {
    cursor: pointer; 
    font-weight: bold;
}
.comment-info span:last-child {
    font-size: 12px;
    margin-left: auto;
    margin-right: 15px;
}
.comment-button span {
    font-size: 12px;
    cursor: pointer;
}

.diary-comment-write {
    padding: 15px 0 15px 0;
}
#diary-comment-writing {
    resize: none;
    padding: 5px;
}
.diary-comment-write .button-2 {
	margin: 10px 0 0 0;
    display: block;
}

#diary-comment-writing, .submit-btn {
	font-family: 'Nanum Gothic', sans-serif;	
}
