/*-------------------pop up------------------------*/
.add-mypet-popup, .result-popup, .confirm-popup, .update-popup, .profile-popup, .add-mypet
	{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(248, 249, 249, 0.5);
	z-index: 1;
	display: none;
}

.add-mypet-popup .popup-content, .result-popup .popup-content, .confirm-popup .popup-content, .add-mypet .popup-content,
	.profile-popup .popup-content, .update-popup .popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 46rem;
	height: 25rem;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	z-index: 2;
	margin: 2.5rem 0;
	overflow: hidden;
	border-radius: 4px;
	background: #fff;
	transform: translate(-50%, -66%);
	box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 20px 0px;
}

.add-mypet-popup .popup-content,.add-mypet-popup .close-btn,.result-popup .popup-content, .confirm-popup .popup-content {
	width: 30rem;
	height: 15rem;
}

.add-mypet-popup .close-btn,.result-popup .close-btn, .confirm-popup .close-btn, .add-mypet .close-btn,
	.update-popup .close-btn, .profile-popup .close-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 30px;
	cursor: pointer;
	color: rgb(17, 17, 17);
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	border-radius: 50%;
}

.add-mypet-popup.active,.confirm-popup.active, .result-popup.active, .add-mypet.active,
	.update-popup.active, .profile-popup.active {
	display: block;
}

.profile-box .img-box {
	width: 50%;
	position: relative;
	overflow: hidden;
}

.profile-box .img-box img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
}

.dog-info {
	width: 43%;
	padding: 1.5rem 0.5rem 2.5rem 1.5rem;
}

.option {
	text-align: right;
}

.option span {
	font-size: 13px;
}

.detail {
	height: 240px;
}

.detail-name {
	margin: 1.5rem 0;
	font-size: 22px;
	text-align: left;
}

.dog-breed-gender li:first-child {
	margin: 0px 2.5px 1.5rem 0;
}

.table {
	width: 90%;
	height: 6rem;
	margin-top: 1rem;
	text-align: left;
}

.table-head {
	font-size: 20px;
	font-weight: bold;
}

/*--------�����ϱ�--------------*/
.form{
	    margin-top: 12px;
}
.add-mypet .img-box {
	width: 50%;
	position: relative;
	overflow: hidden;
	text-align: center;
	line-height: 25rem;
}
.update-profile-box .img-box{
	line-height: 25rem;
	
}
.update-dnd-section{
	    margin-top: 10px;
}
.img-box img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
}

.image {
	outline: none;
}

.add-dog-info, .update-dog-info {
	position: absolute;
	top: 30px;
	right: 24px;
	height: 350px;
	width: 42%;
}

.add-dog-info label, .update-dog-info label {
	line-height: 30px;
}

.p-name {
	margin: 16px 0;
}

.add-button, .update-button {
	margin-top: 10px;
}

.add-button a, .update-button a {
	width: 65%;
}

.add-button input[type=submit], .update-button input[type=submit] {
	width: 100%;
	height: 39px;
}

.add-container {
	display: flex;
	align-items: center;
}

.add-lable {
	/* margin-top: auto; */
	font-size: 5pt;
	color: #666;
	line-height: 40px;
}
input:focus {outline:none;}
select, .add-input-personality, .add-container input[type=text],
	.add-container input[type=date] {
	height: 2rem;
	border: 0px solid #d3d2d2;
	border-radius: 10px;
	font-size: 15px;
	right: 5px;
	margin: 8px 0px 8px auto;
	background-color: #f5f5f5;
	padding-left: 10px;
}

select {
	width: 202px;
}

.add-input-personality {
	height: 6rem;
	width: 12rem;
	font-size: 15px;
}

.add-container input[type=date] {
	width: 12rem;
}

.add-input-personality, .add-input {
	outline: none;
}

.dog_gender_input {
	position: relative;
	left: 8.2rem;
	display: flex;
	justify-content: space-around;
}

.add-container input[type=radio] {
	margin-bottom: 1rem;
}

.dog_gender_input input:nth-child(2) {
	margin-left: 2rem;
}
.file-trigger-button{
	width: 220px;
	padding:10px 15px;
    height: 35px;
    border-radius: 5px;
    background-color: #64b5f6;
    font-weight: bold;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
.file-button{
	display: none;
}

/*---------confirm pop up---------*/
.confirm-box h3 {
	margin-bottom: 15px;
}

.confirm-box p {
	font-size: 15px;
	margin: 35px;
}

.option-btn {
	display: flex;
	justify-content: space-around;
	gap: 10px;
}

.cancel, .delete-btn, .result-btn {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	cursor: pointer;
}

.cancel {
	border: 1px gray solid;
	border-radius: 4px;
	font-weight: bold;
	color: gray;
}

.delete-btn, .result-btn {
	border: 1px orange solid;
	background-color: orange;
	border-radius: 4px;
	color: white;
	font-weight: bold;
}
/*-----------picture upload------------*/
.update-dnd-section,
#dnd-section .img-box {
	width: 340px;
	height: 340px;
	border: 1px solid #90caf9;
	border-radius: 5px;
}

#dnd-section .img-box.valid {
	background: rgb(153, 198, 238);
}

#dnd-section .img-box.invalid {
	background: rgb(255, 128, 128);
}

