@charset "UTF-8";
/* ------------main-------------------- */
#main{
    display: flex;
    flex-direction: column;	
    align-items: center;
    height:90%;
}
	.subject{
	    height: 50px;
	    text-align: center;
	    width: 100%;
	    margin-bottom:2%;
	}
		.subject h1{
		    color: orange;
		    font-size: 22px;
		    display: inline-block;
		    border-bottom: 4px solid;
		    padding-bottom: 10px;
		    margin-right: 10px;
		    margin-bottom: 10px;
		    
		}

    .form{
        height: 75%;
        width: 65%;
        background-color: antiquewhite;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        
    }

        .editTable{
            height: 80%;
            width: 100%;

            display: flex;
            justify-content: center;
        }

            .editTable tbody{
                height: 100%;
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

            }

                tr{
                    display: flex;

                    height: 25%;
                    width: 70%;
                }
                    tr td{
                        display: flex;
                        align-items: center;

                        height: 100%;
                        width: 100%;
                    }

                    .tdTitle{
                        display: flex;
                        justify-content: center;

                        height: 100%;
                        width: 20%;
                    }

                    .date{
                        height: 40%;
                        width: 50%;
                    }
                    .time{
                        height: 40%;
                        width: 50%;
                    }
                    .kg{
                        height: 40%;
                        width: 50%;
                    }

                        td input{
                            height: 60%;
                            width: 100%;

                            border: 0;
                            border-radius: 7px;
                        }
        
        .btnContainer{
            display: flex;
            justify-content: space-evenly;


            height: 10%;
            width: 60%;
        }

            .submitBtn,
            .cancelBtn,
            .deleteBtn{
                margin: 0;
                border: 0;
                background-color: rgb(255, 209, 124);
                border-radius: 10px;
                font-family: sans-serif;
                font-weight: bold;
                font-size: 14px;
            }

            .cancelBtn,
            .deleteBtn{
                padding: 3% 11.1%;
                height: 46%;
            }

            .submitBtn{
                cursor: pointer;

                height: 100%;
                width: 30%;
            }

            .deleteBtn{
                background-color: rgb(250, 177, 177);
            }

            .submitBtn:hover,
            .cancelBtn:hover,
            .deleteBtn:hover{
                opacity: 50%;
            }