@charset "UTF-8";
/* ------------main-------------------- */
#main{
    display: flex;
    flex-direction: column;	
    
    height: 90%;
}

    .subject{
        height: 50px;
        text-align: center;
        width: 100%;
        margin-bottom:2%;
    }
	    .subject h1{
	        color: orange;
	        font-size: 22px;
	        display: inline-block;
	        border-bottom: 4px solid;
	        padding-bottom: 10px;
	        margin-right: 10px;
	        margin-bottom: 10px;
	        
	    }

    .petList{
        width: 100%;

        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        
    }

        .pet{
            height: 220px;
            width: 280px;
            
            margin-bottom:4%
        }

        .pet:hover{
            opacity: 70%;
            box-shadow: 7px 7px #3b3b3b;
        }

            .pet .img{
                height: 100%;
                width: 100%;
            }
            
            .pet .petName{
            	margin: 0;
            }
            
            .pet .petName:hover{
            	cursor: pointer;
            }