@charset "UTF-8";
/* ------------main-------------------- */
#main{
    display: flex;
    flex-direction: column;	
    align-items: center;
    height:90%;
}
	.subject{
	    height: 50px;
	    text-align: center;
	    width: 100%;
	    margin-bottom:2%;
	}
		.subject h1{
		    color: orange;
		    font-size: 22px;
		    display: inline-block;
		    border-bottom: 4px solid;
		    padding-bottom: 10px;
		    margin-right: 10px;
		    margin-bottom: 10px;
		    
		}
	
	.totalContainer{
		height:50%;
		width:90%;
	}
	
	#totalChart{
		height:100%;
		width:100%;
	}


        .statsTable{
		    height: 100%;
		    width: 64.5%;
		    font-weight: bold;
		    text-align: center;
		    /* background-color: antiquewhite; */
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
        }
        	
        	.tableTitle .title{
        		margin-bottom: 0;
        		font-weight: lighter;
        	}
        
			.statsTable td{
		        width: 200px;
		        height: 37px;
			}

            .headTr{
				width: 100%;
			    display: flex;
			    border-bottom: solid 1px white;	
			    background-color: antiquewhite;
            }
            
            	.headTr td{
            		display:flex;
            		justify-content: center;
            		align-items: center;
            	}
            
            tbody{
                /* position: absolute; */
                height: 80%;
                /* overflow-x: hidden;*/
                overflow-y: scroll;
                background-color: antiquewhite;
            }
            
            tbody::-webkit-scrollbar{ 
            	background-color: red;
            }
            tbody::-webkit-scrollbar-thumb{ 
            	background-color: rgba(169,169,169,0.3);
            }
            tbody::-webkit-scrollbar-track{ 
            	background-color: antiquewhite;
            }
            
            	tbody .line:hover{
            		color: rgb(177, 177, 177);
            		cursor: pointer;
            	}
            
            .down,
            .AM{
                color: rgb(126, 126, 255);
            }
            
            .up,
            .PM{
                color: rgb(255, 121, 97);
            }
            
.overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.4);
    z-index:1;
    --display:none;
  }
  
.popup{
    position:absolute;
    background-color: white;
/*     top:25%;
    left:40%; */
    height: 600px;
    width: 750px;
    
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    z-index: 2;
    transform:translate(0%,50%) scale(1);
    
}

	.weekContainer{
		height:45%;
		width:100%;
	}
		
	.popTable{
		height: 50%;
	    width: 100%;
	    font-weight: bold;
	    text-align: center;
	    display: flex;
	    flex-direction: column;

	}
		.popTable td{
			width: 240px;
    		height: 37px;
		}
		
		.popTr{
			width: 100%;
		    display: flex;
		    border-bottom: solid 1px white;
		    background-color: antiquewhite;
		}
		
			.popTr td{
				display: flex;
			    justify-content: center;
			    align-items: center;
			}
					
		.popTbody{
		    height: 100%;
		    overflow-y: scroll;
		    background-color: antiquewhite		
		}
		
	.close-btn{
	    margin: 10px;
	}
	
	.close-btn>img{
	    width: 15px;
	    height: auto;
	    opacity: 0.8;
	    margin-left: auto;
	    cursor: pointer;  
	}