@charset "UTF-8";
/* ------------main-------------------- */
#main{
    display: flex;
    flex-direction: column;	
    align-items: center;
    height:90%;
}
	.subject{
	    height: 50px;
	    text-align: center;
	    width: 100%;
	    margin-bottom:2%;
	}
		.subject h1{
		    color: orange;
		    font-size: 22px;
		    display: inline-block;
		    border-bottom: 4px solid;
		    padding-bottom: 10px;
		    margin-right: 10px;
		    margin-bottom: 10px;
		    
		}
		
    .stats{
        height: 70%;
        width: 70%;
        background-color: antiquewhite;
        
        display: flex;
        justify-content: center;
        position: relative;
        
    }

        .statsTable{
        	height:75%;
      		
			margin-top:auto;
			margin-bottom:auto;
            font-weight: bold;
            text-align: center;
        }

            .headTr{
           		width:100%;
           		display:flex;
           		margin-bottom: 1%;
            }
            
            tbody{
                position: absolute;
                height: 65%;
                overflow-x: hidden;
                overflow-y: scroll;
            }
            
            tbody::-webkit-scrollbar{ 
            	display:none;
            }
            
            	tbody .line:hover{
            		color: rgb(177, 177, 177);
            		cursor: pointer;
            	}
            
                .statsTable td{
                    width: 200px;
                    height: 37px;
                }
            
            .down{
                color: rgb(126, 126, 255);
            }
            
            .up{
                color: rgb(255, 121, 97);
            }
            
.overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.4);
    z-index:1;
    --display:none;
  }
  
.popup{
    position:absolute;
    top:25%;
    left:40%;
    width: 510px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    --transform:translate(-50%,-50%) scale(0);
    
    display:flex;
    flex-direction: column;
}

	.popTable{
		background-color: antiquewhite;
	}

	.close-btn{
	    margin: 10px;
	}
	
	.close-btn>img{
	    width: 15px;
	    height: auto;
	    opacity: 0.8;
	    margin-left: auto;
	    cursor: pointer;  
	}