@charset "UTF-8";
/* ------------main-------------------- */
#main{
    display: flex;
    flex-direction: column;	
    align-items: center;
    height:90%;
}
	.subject{
	    height: 50px;
	    text-align: center;
	    width: 100%;
	    margin-bottom:2%;
	}
		.subject h1{
		    color: orange;
		    font-size: 22px;
		    display: inline-block;
		    border-bottom: 4px solid;
		    padding-bottom: 10px;
		    margin-right: 10px;
		    margin-bottom: 10px;
		    
		}

    .record{
        height: 100%;
        width: 80%;
        background-color: antiquewhite;
        
        display: flex;
        justify-content: center;
        position: relative;
        
    }

        .recordTable{
			margin-top:3%;
            font-weight: bold;
            text-align: center;
        }
            
            	.headTr{
            		width:100%;
            		display:flex;
            		margin-bottom: 1%;
            	}
              
                thead .date{
                    background-image: url("../../../images/icon-calendar.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }

                thead .time{
                    background-image: url("../../../images/icon-time.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }

                thead .weight{
                    background-image: url("../../../images/icon-weight.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }


            tbody{
                position: absolute;
                height: 65%;
                overflow-x: hidden;
                overflow-y: scroll;
            }
                tbody a:hover{
                    color: rgb(177, 177, 177);
                }
            
                .recordTable td{
                    width: 200px;
                    height: 35px;
                }
            
            .am{
                color: rgb(126, 126, 255);
            }
            
            .pm{
                color: rgb(255, 121, 97);
            }
            
        .regBtn{
            padding: 13px 35px;
            border: none;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 14px;
            background-color: rgb(255, 209, 124);
            border-radius: 10px;

            position: absolute;
			bottom: 7%;
			left: 29%;
            
        }
        
        .statsBtn{
            padding: 13px 35px;
            border: none;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 14px;
            background-color: rgb(255, 209, 124);
            border-radius: 10px;

            position: absolute;
            bottom: 7%;
            right: 27%;
        }
        
        .regBtn:hover,
        .statsBtn:hover{
            opacity: 50%;
        }